name: build java
on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  push:
    name: "Docker push for ${{ matrix.image }}"
    runs-on: blacksmith-8vcpu-ubuntu-2204
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - image: minecraft
            dockerfile: Dockerfile
            target: minecraft
            platforms: linux/amd64
          - image: proxy
            dockerfile: Dockerfile
            target: proxy
            platforms: linux/amd64
    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU for multi-platform support
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          buildkitd-flags: --debug

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/gensokyo-reimagined/${{ matrix.image }}

      - name: Build ${{ matrix.image }} (do not push)
        uses: docker/build-push-action@v5
        with:
          file: ${{ matrix.dockerfile }}
          platforms: ${{ matrix.platforms }}
          push: false
          target: ${{ matrix.target }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Slim ${{ matrix.image }}
        uses: kitabisa/docker-slim-action@v1.2.0
        with:
          target: ${{ env.REGISTRY }}/gensokyo-reimagined/${{ matrix.image }}:latest 
          tag: "slim"
        env:
          DSLIM_HTTP_PROBE: "false"

      - name: Push Slimmed Image
        run: |
          # Push the new, smaller image
          docker push "${{ env.REGISTRY }}/gensokyo-reimagined/${{ matrix.image }}:latest.slim"
          docker tag "${{ env.REGISTRY }}/gensokyo-reimagined/${{ matrix.image }}:latest.slim" "${{ env.REGISTRY }}/gensokyo-reimagined/${{ matrix.image }}:latest"
          docker push "${{ env.REGISTRY }}/gensokyo-reimagined/${{ matrix.image }}:latest"